<<<<<<< HEAD
<UserPreferences::UserApiKeys @model={{@model}} />
=======
<UserPreferences::UserApiKeys @model={{@model}}/>
>>>>>>> 887f49d048 (Fix merge conflicts to sync to the main upstream)

<span>
  <PluginOutlet
    @name="user-preferences-apps"
    @connectorTagName="div"
    @outletArgs={{hash model=this.model}}
  />
</span>