<div class="admin-controls">
  <HorizontalOverflowNav @className="main-nav nav plugin-nav">
    <NavItem @route="adminPlugins.index" @label="admin.plugins.title" />
    {{#each this.adminRoutes as |route|}}
      <NavItem @route={{route.full_location}} @label={{route.label}} />
    {{/each}}
  </HorizontalOverflowNav>
</div>

<<<<<<< HEAD
<div class="admin-container">
=======
<div class="admin-detail pull-left mobile-closed">
>>>>>>> 887f49d048 (Fix merge conflicts to sync to the main upstream)
  {{#each this.brokenAdminRoutes as |route|}}
    <div class="alert alert-error">
      {{i18n "admin.plugins.broken_route" name=(i18n route.label)}}
    </div>
  {{/each}}

  {{outlet}}
</div>