<div class="chat-emoji-avatar">
  <div class="chat-emoji-avatar-container">
    {{replace-emoji @emoji}}
  </div>
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> 887f49d048 (Fix merge conflicts to sync to the main upstream)
