{{#if this.show}}
  <div class="chat-retention-reminder">
<<<<<<< HEAD
    <ChatRetentionReminderText @channel={{@channel}} />
    <DButton
      @action={{this.dismiss}}
      @icon="times"
      class="btn-flat dismiss-btn"
    />
  </div>
{{/if}}
=======
    <span class="chat-retention-reminder-text">{{this.text}}</span>
    <DButton @class="btn-flat dismiss-btn" @action={{action "dismiss"}} @icon="times" />
  </div>
{{/if}}
>>>>>>> 887f49d048 (Fix merge conflicts to sync to the main upstream)
