<div class="select-kit-header-wrapper">
  {{#if this.selectedContent}}
    <ChatChannelTitle @channel={{this.selectedContent}} />
  {{else}}
    {{i18n "chat.incoming_webhooks.channel_placeholder"}}
  {{/if}}

  {{d-icon this.caretIcon class="caret-icon"}}
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> 887f49d048 (Fix merge conflicts to sync to the main upstream)
