<div class="chat-skeleton -animation">
<<<<<<< HEAD
  {{#each this.placeholders as |placeholder|}}
    <div class="chat-skeleton__body">
      <div class="chat-skeleton__message">
        <div class="chat-skeleton__message-avatar"></div>
        <div class="chat-skeleton__message-poster"></div>
        <div class="chat-skeleton__message-content">
          {{#if placeholder.image}}
            <div class="chat-skeleton__message-img"></div>
          {{/if}}

          <div class="chat-skeleton__message-text">
            {{#each placeholder.rows as |row|}}
              <div class="chat-skeleton__message-msg" style={{row}}></div>
            {{/each}}
          </div>

          {{#if placeholder.reactions}}
            <div class="chat-skeleton__message-reactions">
              {{#each placeholder.reactions}}
                <div class="chat-skeleton__message-reaction"></div>
              {{/each}}
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
=======
  <div class="chat-skeleton__header">
    <div class="chat-skeleton__header-img"></div>
    <div class="chat-skeleton__header-name"></div>
  </div>

  <div class="chat-skeleton__body">
    <div class="chat-skeleton__message">
      <div class="chat-skeleton__message-avatar"></div>
      <div class="chat-skeleton__message-poster"></div>
      <div class="chat-skeleton__message-content">
        <div class="chat-skeleton__message-msg -line1 -small"></div>
        <div class="chat-skeleton__message-msg -line2 -large"></div>
      </div>

      <div class="chat-skeleton__message-avatar"></div>
      <div class="chat-skeleton__message-poster"></div>
      <div class="chat-skeleton__message-content">
        <div class="chat-skeleton__message-msg -line1 -large"></div>
        <div class="chat-skeleton__message-msg -line2 -large"></div>
      </div>
    </div>
  </div>

  <div class="chat-skeleton__header">
    <div class="chat-skeleton__header-img"></div>
    <div class="chat-skeleton__header-name"></div>
  </div>

  <div class="chat-skeleton__body">
    <div class="chat-skeleton__message">
      <div class="chat-skeleton__message-avatar"></div>
      <div class="chat-skeleton__message-poster"></div>
      <div class="chat-skeleton__message-content">
        <div class="chat-skeleton__message-msg -line1 -medium"></div>
        <div class="chat-skeleton__message-msg -line2 -large"></div>
      </div>
    </div>

    <div class="chat-skeleton__message">
      <div class="chat-skeleton__message-avatar"></div>
      <div class="chat-skeleton__message-poster"></div>
      <div class="chat-skeleton__message-content">
        <div class="chat-skeleton__message-msg -line1 -medium"></div>
        <div class="chat-skeleton__message-msg -line2 -large"></div>
      </div>
    </div>

    <div class="chat-skeleton__message">
      <div class="chat-skeleton__message-avatar"></div>
      <div class="chat-skeleton__message-poster"></div>
      <div class="chat-skeleton__message-content">
        <div class="chat-skeleton__message-msg -line1 -small"></div>
        <div class="chat-skeleton__message-msg -line2 -large"></div>
      </div>
    </div>

    <div class="chat-skeleton__message">
      <div class="chat-skeleton__message-avatar"></div>
      <div class="chat-skeleton__message-poster"></div>
      <div class="chat-skeleton__message-content">
        <div class="chat-skeleton__message-msg -line1 -medium"></div>
        <div class="chat-skeleton__message-msg -line2 -small"></div>
      </div>
    </div>

    <div class="chat-skeleton__message">
      <div class="chat-skeleton__message-avatar"></div>
      <div class="chat-skeleton__message-poster"></div>
      <div class="chat-skeleton__message-content">
        <div class="chat-skeleton__message-msg -line1 -medium"></div>
        <div class="chat-skeleton__message-msg -line2 -medium"></div>
      </div>
    </div>
  </div>

  <div class="chat-skeleton__header">
    <div class="chat-skeleton__header-img"></div>
    <div class="chat-skeleton__header-name"></div>
  </div>

  <div class="chat-skeleton__body">
    <div class="chat-skeleton__message">
      <div class="chat-skeleton__message-avatar"></div>
      <div class="chat-skeleton__message-poster"></div>
      <div class="chat-skeleton__message-content">
        <div class="chat-skeleton__message-msg -line1 -small"></div>
        <div class="chat-skeleton__message-msg -line2 -large"></div>
      </div>
    </div>

    <div class="chat-skeleton__message">
      <div class="chat-skeleton__message-avatar"></div>
      <div class="chat-skeleton__message-poster"></div>
      <div class="chat-skeleton__message-content">
        <div class="chat-skeleton__message-msg -line1 -medium"></div>
        <div class="chat-skeleton__message-msg -line2 -large"></div>
      </div>
    </div>

    <div class="chat-skeleton__message">
      <div class="chat-skeleton__message-avatar"></div>
      <div class="chat-skeleton__message-poster"></div>
      <div class="chat-skeleton__message-content">
        <div class="chat-skeleton__message-msg -line1 -large"></div>
        <div class="chat-skeleton__message-msg -line2 -small"></div>
      </div>
    </div>

    <div class="chat-skeleton__message">
      <div class="chat-skeleton__message-avatar"></div>
      <div class="chat-skeleton__message-poster"></div>
      <div class="chat-skeleton__message-content">
        <div class="chat-skeleton__message-msg -line1 -medium"></div>
        <div class="chat-skeleton__message-msg -line2 -large"></div>
      </div>
    </div>
  </div>
</div>
>>>>>>> 887f49d048 (Fix merge conflicts to sync to the main upstream)
