<div class="chat-channel-metadata">
<<<<<<< HEAD
  {{#if @channel.lastMessage}}
    <div class="chat-channel-metadata__date">
      {{this.lastMessageFormattedDate}}
    </div>
  {{/if}}

  {{#if this.unreadIndicator}}
    <ChatChannelUnreadIndicator @channel={{@channel}} />
  {{/if}}
</div>
=======
  <div class="chat-channel-metadata__date">
    {{this.lastMessageFormatedDate}}
  </div>

  {{#if @unreadIndicator}}
    <ChatChannelUnreadIndicator @channel={{@channel}} />
  {{/if}}
</div>
>>>>>>> 887f49d048 (Fix merge conflicts to sync to the main upstream)
